
main {
  min-height: 80vh;
}

.Nav_link{
  color: #1d804d;
  font-family: 'Cinzel', sans-serif;
  font-size: x-large;
  text-decoration: none;
}
.Nav_link {
  padding: 20px;
}

.footer {
  background-color: #eefff4;
  font-family: 'Cinzel'
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Cinzel';
 text-align: center;
 color: #1d804d;
}

.carousel p {
  
  font-family: 'Cinzel', sans-serif;
}

.myIcon {
  font-size: x-large;
}

.cross {
  color: red;
}

.check {
  color: rgba(53, 216, 53, 0.856);
}

.button {
  background-color: #1d804d;
}




